.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backgroundImage {
  background-image: url('./section1.png');
  height: 596px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section2Image {
  margin-top: 30px;
  background-image: url('./section2.png');
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
}
.section3Image {
  margin-top: 30px;
  background-image: url('./section3.png');
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
}
.section4Image {
  margin-top: 30px;
  background-image: url('./section4.png');
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.playButton {
  border: 3px solid;
  border-color: orange;
  color: orange;
  width: 100px;
  font-size: x-large;
}

.slogan {
  margin-top: 30px;
  color: #ffffff;
  font-weight: 700;
  font-size: 32px;
  width: 700px;
  text-align: center;
  padding: 15px;
}
