.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backgroundImage {
  background-image: url('./startImage.png');
  height: 596px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
}

.logo {
  align-self: flex-start;
  color: orange;
  font-weight: 700;
  border: 1px solid;
  border-color: orange;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.playButton {
  background-color: transparent;
  border: 3px solid;
  border-color: orange;
  color: orange;
}

.slogan {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  width: 500px;
  text-align: center;
  padding: 15px;
}
