.timerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.style_wrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.modal {
  margin-top: 100px;
  width: 750px;
}

.text_only_lommelykt {
  background-image: url('./text_only_lommelykt.png');
  background-repeat: no-repeat;
  height: 800px;
  width: 400px;
  margin-right: 50px;
  background-size: contain;
}

.text_only_papirbro {
  background-image: url('./text_only_papirbro.png');
  background-repeat: no-repeat;
  height: 800px;
  width: 400px;
  background-size: contain;
}

.photo_lommelykt {
  background-image: url('./photo_lommelykt.png');
  background-repeat: no-repeat;
  height: 800px;
  width: 400px;
  margin-right: 50px;
  background-size: contain;
}

.photo_papirbro {
  background-image: url('./photo_papirbro.png');
  background-repeat: no-repeat;
  height: 800px;
  width: 400px;
  background-size: contain;
}

.illustration_lommelykt {
  background-image: url('./illustration_lommelykt.png');
  background-repeat: no-repeat;
  height: 800px;
  width: 400px;
  margin-right: 50px;
  background-size: contain;
}

.illustration_papirbro {
  background-image: url('./illustration_papirbro.png');
  background-repeat: no-repeat;
  height: 800px;
  width: 400px;
  background-size: contain;
}

.text_only_lommelykt_modal {
  background-image: url('./text_only_lommelykt_modal.png');
  background-repeat: no-repeat;
  height: 450px;
  width: 800px;
}

.text_only_papirbro_modal {
  background-image: url('./text_only_papirbro_modal.png');
  background-repeat: no-repeat;
  height: 450px;
  width: 800px;
}

.illustration_lommelykt_modal {
  background-image: url('./illustration_lommelykt_modal.png');
  background-repeat: no-repeat;
  height: 450px;
  width: 800px;
}

.illustration_papirbro_modal {
  background-image: url('./illustration_papirbro_modal.png');
  background-repeat: no-repeat;
  height: 450px;
  width: 800px;
}

.photo_lommelykt_modal {
  background-image: url('./photo_lommelykt_modal.png');
  background-repeat: no-repeat;
  height: 450px;
  width: 800px;
}

.photo_papirbro_modal {
  background-image: url('./photo_papirbro_modal.png');
  background-repeat: no-repeat;
  height: 450px;
  width: 800px;
}
